{% extends 'base.html' %}
{% block title %}登陆{% endblock %}
{% block content %}
<div id="register">
	<h1>登陆</h1>
	{% if errors %}
	<p class="errors">嗨, buddy, 有数据写错了. 检查下email地址, 密码(6-12个字符), 还有, 别忘了写验证码哦.</p>
	{% endif %}
    <form class="form" action="{{ url_for('userapp.login') }}" method="POST">
        <p>{{ form.email.label(class="span3") }}{{ form.email(class="span6") }}</p>
        <p>{{ form.password.label(class="span3") }}{{ form.password(class="span6") }}</p>
        <p>{{ form.captcha.label(class="span3") }}{{ form.captcha(class="span3") }}<img src="/captcha" style="position: absolute;margin-left: 10px;" /></p>
        <p><label class="span3"></label><span class="help-block">不区分大小写</span></p>
        <p><label class="span3"></label><input type="submit" class="btn primary" value="登陆" /></p>
    </form>
</div>
{% endblock %}
