{% extends 'base.html' %}
{% block title %}{{ user.nickname }}{% endblock %}
{% block content %}
<div class="rank span11">
    <h2>{{ user.nickname }} 最新添加的代码</h2>
    <ul>{% for paste in pastes %}
        <li><a href="{{ url_for('pasteapp.view', paste_id=paste.id) }}">{{ paste.title }}</a>{% for tag in paste.tags %}<a href="{{ url_for('tagapp.view', tag_name=tag.name) }}" class="btn small tag">{{ tag.name }}</a>{% endfor %}<span>{{ paste.created_time | dateformat }}<span></li>
        {% endfor %}</ul>
</div>
<div class="rank span11">
    <h2>{{ user.nickname }} 最新收藏的代码</h2>
    <ul>{% for paste in user.favourites %}
        <li><a href="{{ url_for('pasteapp.view', paste_id=paste.id) }}">{{ paste.title }}</a>{% for tag in paste.tags %}<a href="{{ url_for('tagapp.view', tag_name=tag.name) }}" class="btn small tag">{{ tag.name }}</a>{% endfor %}<span>{{ paste.created_time | dateformat }}<span></li>
        {% endfor %}</ul>
</div>
<div class="row">
</div>
{% endblock %}
