/** **/
a {
    text-decoration:none;
}

body {
    background:#E3E3E3;
}

/** form **/
.form p {
    clear:both;
    line-height:25px;
}

.form p label,
.form p input,
.form p select {
    float:left;
}

.form p label {
    width:100px;
    margin-right:10px;
    margin-bottom:5px;
    text-align:right;
}

.form p input {
    width:400px;
    height:18px;
}

.form p select {
    width:209px;
    height:28px;
}

.form p textarea {
    width:500px;
    height:450px;
}

#captcha {
    width:100px;
}
/** top **/
div#top {
    height:73px;
    background:url('/static/images/header_bg.png') repeat-x;
    border-left:2px solid #AAAAAA;
    border-right:2px solid #AAAAAA;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-radius-bottomleft:5px;
    -webkit-border-radius-bottomright:5px;
}

div#top h1 {
    width:18px;
    margin-top:20px;
    margin-left:30px;
}

div#top h1 a:link,
div#top h1 a:visited {
	color:white;
}

div#top span {
	float: left;
    margin-left: 135px;
    margin-top: 33px;
}
div#top ul {
    float:right;
}

div#top ul li {
    display:inline;
}

/** foot **/
#footer {
	margin-bottom:50px;
}

#footer a {
	margin-right:10px;
}

#footer a:link,
#footer a:visited {
	color:black;
}

#footer a:hover {
	color:red;
}

#footer p span {
	float:right;
}

/** side bar **/
#sidebar {
	margin-left: 40px;
    padding-top: 30px;
}

/** content **/
#container {
    border: 2px solid #AAAAAA;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    min-height:300px;
    background:white;
    margin-top:20px;
    margin-bottom:20px;
	background: none repeat scroll 0 0 #DFDFDF;
}

/** new paste page **/
#paste_new {

}
#paste_new h2 {
	margin-left:20px;
	margin-top:20px;
    border-bottom:1px dashed #ccc;
    margin-bottom:10px;
}
#paste_new form p textarea {
    margin-left:20px;
    width:670px;
    max-width:670px;
    margin-bottom:10px;
}
#paste_new form p a {
    margin:20px;
}

.errors {
	color:red;
	margin:10px 0 10px 20px;
}
/** paste view **/
#paste_view {
    margin:20px 0 20px 20px;
}
#paste_view h1,
#paste_view h3 {
	margin-left:30px;
	margin-bottom:20px;
}
#paste_view h1 {
	font-size:18px;
}
#paste_view h3 {
	font-size:14px;
}
#paste_view h3 a {
	margin-right:10px;
}
#paste_view h3 a:link,
#paste_view h3 a:visited {
	color:red;
}
#code_view {
    width:680px;
}
#code_view .linenodiv {
    margin-right:10px;
}
#code_view .source {
    overflow:auto;
    width:650px;
}
