/** **/
a {
    text-decoration:none;
}

body {
    background:url('/static/images/header_bg.png') repeat-x #fff;
}

/** form **/
.form p {
    clear:both;
    line-height:25px;
}

.form p label,
.form p input,
.form p select {
    float:left;
}

.form p label {
    width:100px;
    margin-right:10px;
    margin-bottom:5px;
    text-align:right;
}

.form p input {
    width:400px;
    height:18px;
}

.form p select {
    width:209px;
    height:28px;
}

.form p textarea {
    width:500px;
    height:450px;
}

#captcha {
    width:100px;
}

.error {
    color: red;
    font-size: 20px;
    margin: 120px 0 0 180px;
}
/** top **/
div#top {
    height:60px;
}

div#top h1 {
    width:18px;
    margin-top:20px;
    margin-left:30px;
}

div#top h1 a:link,
div#top h1 a:visited {
	color:white;
}

div#top span {
	float: left;
    margin-left: 135px;
    margin-top: 33px;
}
div#top ul {
    float:right;
}

div#top ul li {
    display:inline;
}

/** foot **/
#footer {
	margin-bottom:50px;
	border-top:2px solid #999;
	padding-top:10px;
	font-size:14px;
}

#footer p > a {
	margin-right:10px;
}

#footer a:link,
#footer a:visited {
	color:black;
}

#footer a:hover {
	color:red;
}

#footer p span {
	float:right;
}
#footer p span a:link,
#footer p span a:visited {
	color:#a15700;
}

/** side bar **/
#sidebar {
	margin-left: 40px;
    padding-top: 30px;
}

/** content **/
#container {
    min-height:300px;
    background:white;
    margin-bottom:20px;
	background: url('/static/images/container_bg.png') no-repeat scroll 0 0;
}

/** new paste page **/
#paste_new {

}
#paste_new h2 {
	margin-left:20px;
	margin-top:20px;
    border-bottom:1px dashed #ccc;
    margin-bottom:10px;
}
#paste_new form p textarea {
    margin-left:20px;
    width:670px;
    max-width:670px;
    margin-bottom:10px;
}
#paste_new form p a {
    margin:20px;
}

.errors {
	color:red;
	margin:10px 0 10px 20px;
}
/** paste view **/
#paste_view {
    margin:20px 0 20px 20px;
}
#paste_view h1,
#paste_view h3 {
	margin-left:30px;
	margin-bottom:10px;
}
#paste_view h1 {
	font-size:25px;
	font-family:'Heiti';
}
#paste_view h1 span {
	font-size:14px;
	color:#ccc;
	margin-left:10px;
}
#paste_view h3 {
	font-size:14px;
	color:#333;
}
#paste_view h3 a {
	margin-right:15px;
}
#paste_view h3 a:link,
#paste_view h3 a:visited {
	color:#333;
}
#paste_view h3 a:hover {
	color:red;
}
#code_view {
    width:680px;
}
#code_view .linenodiv {
    margin-right:10px;
}
#code_view .source {
    overflow:auto;
    width:650px;
}
#code_view pre {
	padding-left:5px;
}
