{% extends 'base.html' %}
{% block title %}粘贴新代码{% endblock %}
{% block content %}
<script type="text/javascript">
    $(document).ready(function() {
    });
</script>
<div id="paste_new">
	<h2>粘贴新代码</h2>
	{% if form.errors %}
	<p class="errors">嗨, buddy, 你忘了贴代码, 或者填验证码了吧?</p>
	{% endif %}
	<form class="form" action="{{ url_for('pasteapp.create') }}" method="POST">
		<p>{{ form.title.label(class="span2") }}{{ form.title(class="span8") }}</p>
		<p><label class="span2"></label><span class="help-block">可以不填</span></p>
		<p>{{ form.syntax.label(class="span2") }}{{ form.syntax(class="span8") }}</p>
		<p>{{ form.tag.label(class="span2") }}{{ form.tag(class="span8") }}</p>
		<p><label class="span2"></label><span class="help-block">多个标签用空格区分</span></p>
		<p>{{ form.content }}</p>
        <p>{{ form.captcha.label(class="span2") }}{{ form.captcha(class="span2") }}<img src="/captcha?t={{ t }}" style="position: absolute;margin-left: 10px;" /></p>
        <p><label class="span2"></label><span class="help-block">不区分大小写</span></p>
        <p><label class="span2"></label><input type="submit" class="btn primary" value="发表" /></p>
	</form>
	<br />
</div>
{% endblock %}
