{% extends 'base.html' %}
{% block title %}{{ model.title }}{% endblock %}
{% block content %}
<div id="paste_view">
    <h1>{{ model.title }}<span>{{ model.created_time | dateformat }}</span></h1>
    <h3>{% for tag in model.tags %}<a href="/tag/{{ tag.name }}" class="btn small tag">{{ tag.name }}</a>{% endfor %}</h3>
    <h4><a href="{{ url_for('pasteapp.view', paste_id=model.id) }}?output=image&attachment=true" class="btn" style="margin-bottom:5px;">保存成png图片</a></h4>
    <h4><script type="text/javascript" charset="utf-8">
(function(){
  var _w = 106 , _h = 24;
  var param = {
    url:location.href,
    type:'5',
    count:'',
    appkey:'',
    title:'我在大卫粘贴<davidpaste.com>分享了代码, 来看看吧',
    pic:'',
    ralateUid:'',
	language:'zh_cn',
    rnd:new Date().valueOf()
  }
  var temp = [];
  for( var p in param ){
    temp.push(p + '=' + encodeURIComponent( param[p] || '' ) )
  }
  document.write('<iframe allowTransparency="true" frameborder="0" scrolling="no" src="http://hits.sinajs.cn/A1/weiboshare.html?' + temp.join('&') + '" width="'+ _w+'" height="'+_h+'"></iframe>')
})()
</script></h4>
    <div id="code_view">{{ code | safe }}</div>
</div>
{% endblock %}