{% extends 'base.html' %}
{% block title %}关于大卫粘贴{% endblock %}
{% block content %}
<div id="about">
    <p>大卫粘贴是一个什么样的网站呢? 我很难用一句话来形容.大家用的多了, 自然就明白了.</p>
	<p>它不会是一个简单的代码粘贴, 它会让大家培养出良好的分享代码的习惯, 让分享代码, 也能成为一种乐趣.</p>
	<h3>Change Log:</h3>
    <ul>
        <li>Ver 0.3功能
        <ol>
            <li><del>使用flask重写</del></li>
            <li><del>使用pygments做代码高亮</del></li>
            <li><del>标签功能</del></li>
            <li>收藏功能</li>
        </ol>
        </li>

        <li>Ver 0.2及以前
        <ol>
            <li>使用django做整站架构</li>
            <li>使用javascript做代码高亮</li>
            <li>用户可以选择注册, 拥有修改代码的功能</li>
        </ol>
        </li>
    </ul>
	<br />
	<p>如果你有什么好的建议或者想法, 或者觉得大卫粘贴有什么不好的地方, 欢迎直接给我发邮件. 我的邮箱是mykingheaven#gmail.com和david.xie#me.com, 2个都可以.</p>
	<p style="color:red">P.S. 招一个志同道合的人一起开发大卫粘贴, 没有薪水, 只为共同的目标</p>
</div>
{% endblock %}
